//header button

.suggestionElements-button {
  width: 100%;
  height: 3rem;
  border: 2px solid $gray-text;
  border-radius: 0.5rem;
  background-color: transparent;
  color: $white-text-70;
  font-size: $size-1;
  font-weight: $font-weight-3;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $background-elements;
    color: $white-text;
  }
}

.gameElement-button {
  width: 200px;
  height: 35px;
  background-color: $purple-components;
  color: $white-text;
  border: none;
  border-radius: 0.5rem;
  font-size: $size-1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $purple-components-70;
  }
}
