.mySwiper {
    width: 100%;
    max-width: 1200px;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // z-index: -1;
}

.swiperElement {
    // width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: $background-elements;
    border-radius:1.5rem ;

    &-info {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 60%;

        &-name {
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            font-size: $size-0;
            font-weight: $font-weight-2;
            color: $white-text;
            padding: 0.5rem 0;
        }

        &-store {
            width: 80%;
            height: 20%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            font-size: $size-0;
            font-weight: $font-weight-1;
            color: $white-text-70;
            padding: 0.5rem 0;
            border: 1px solid $green-highlight;
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                background: $green-highlight;
                border: 1px solid $green-highlight;
                color: $background-elements;
            }
        }
    }

    .line   {
        width: 80%;
        height: 1px;
        background: $white-text-70;
    }

    img {
        width: 100%;
        height: 40%;
        object-fit: cover;
        border-radius:1.5rem 1.5rem 0 0;
    }
}