//colors
$background-color: #101924;
$background-color-dark: #050C13;
$background-color-dark-90: rgba(5, 12, 19, 0.9);

$purple-components: #B720E1;
$purple-components-70: rgba(183, 32, 225, 0.7);
$green-highlight: #7ED321;
$white-text: #FFFFFF;
$white-text-70: rgba(255, 255, 255, 0.7);
$gray-text: #545B63;
$purple-input:#2B2848;
$background-elements: #192737;
$background-elements-head: #202f41;

//size
$size-0: 0.8rem;
$size-1: 1rem;
$size-2: 1.2rem;
$size-3: 1.4rem;
$size-4: 1.6rem;
$size-5: 2rem;

//font-weight
$font-weight-1: 400;
$font-weight-2: 600;
$font-weight-3: 900;

