.aboutUs {
    .aboutHeader {
        font-size: $size-5;
        font-weight: 700;
        color: $white-text;
        margin-bottom: 2rem;
      }

      .aboutText {
        font-size: $size-2;
        font-weight: 400;
        color: $white-text-70;
        margin-bottom: 2rem;
      }
}